<a href="https://colab.research.google.com/github/QwejoD/Udacity-AWS-Machine-Learing-journey/blob/main/Regression_dataset_and_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [ ]:
# Creating a regression dataset with 1000 samples, 5 feature columns, 2 which are actually useful, and 1 target column
regression_dataset = make_regression(
    n_samples=1000, n_features=5, n_informative=2, n_targets=1, random_state=0)

In [ ]:
df = pd.DataFrame(regression_dataset[0])


df["target"] = regression_dataset[1]

In [ ]:
df.head()

          0         1         2         3         4      target
0  0.236225 -0.323289 -0.018429 -1.548471  1.311427   70.618083
1 -0.801497  0.271170 -0.525641 -0.887780  0.936399   52.757870
2  0.687881  0.417044 -1.203735  0.498727 -0.737932  -43.728456
3 -0.679593 -1.063433 -1.797456  0.913202  2.211304  156.835125
4  0.096479 -0.507060  0.522083  0.155794  1.520004  102.748706

In [ ]:
# Create a train: 0.8 | test: 0.2 ratio dataset
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0)

# Create a train: 0.6 | validation: 0.2 ratio dataset
df_train, df_val = train_test_split(df_train, test_size=0.25, random_state=0)

# Final dataset sizes: train: 0.6, validation: 0.2, test: 0.2,

In [ ]:
# Output each shape to confirm the size of train/validation/test
print(f"Train: {df_train}")
print(f"Validation: {df_val}")
print(f"Test: {df_test}")

Train:             0         1         2         3         4      target
787  0.275667 -1.641703 -0.730874  0.719668 -0.248419   -8.808848
683 -1.342867  1.251292 -0.604033 -0.824147 -0.167253  -19.952561
616  1.621728 -2.096557 -0.093123 -1.525778  0.478125   15.447073
691 -1.170261  0.079926  1.202768  0.430374 -0.951992  -58.695696
972  0.089620 -0.825779 -0.395222  1.010694 -0.743228  -38.595137
..        ...       ...       ...       ...       ...         ...
431 -0.235503  2.011243 -1.377019  1.121907  1.392837  104.643680
243 -0.612626  0.133913  0.104907  0.774161 -0.774459  -43.206352
444 -0.547518 -1.109478  0.978567  0.610392  0.286013   25.559747
866  0.191159 -1.938357 -0.562252  1.423475 -0.785666  -36.994540
943  0.270411 -1.592216 -0.167610  0.715783  0.158668   18.220595

[600 rows x 6 columns]
Validation:             0         1         2         3         4      target
375  1.346221 -0.972403  1.496140 -0.822828 -1.490265 -107.918097
289  0.447054  0.938839 -0.446465 -0.174614 -0.219244  -16.450526
404  0.407462  0.672295  1.849264 -0.149635 -0.435154  -30.540750
535  0.413385  0.829630 -0.178621 -1.213252  2.600672  159.943903
509  0.736411  0.557487  0.420142 -0.863208 -1.282503  -94.534685
..        ...       ...       ...       ...       ...         ...
148 -1.012457 -0.932570 -1.426938 -1.684729 -0.499417  -51.262038
44   0.907659 -0.334063  1.817826 -0.821265 -0.913656  -69.557098
892  0.495851 -0.114962  0.795550  0.273729 -1.394840  -89.823268
154  0.508653  1.736767  0.523085  1.798412  0.224679   34.210171
758 -0.576242 -0.224827  1.077037 -0.110591 -0.432432  -29.941428

[200 rows x 6 columns]
Test:             0         1         2         3         4      target
993 -0.628981 -1.431798  0.500017 -0.011136  1.344074   89.260937
859  2.497200 -1.051880 -0.507518 -0.505358 -0.815792  -59.664393
298  1.133080 -0.131054 -1.118312 -0.363859 -0.805627  -57.472323
553  1.297082 -0.596771 -0.135872 -1.354585 -0.634844  -56.730559
672 -1.150692 -1.022855  0.397565 -0.250757 -0.094062   -8.941845
..        ...       ...       ...       ...       ...         ...
679 -1.393769 -0.725282 -0.216874 -1.032079 -0.364435  -35.292988
722  0.933661  0.924111  0.446333  0.529199  2.198112  151.843465
215 -0.448767 -0.721431 -0.332102 -0.120407 -1.479316  -99.663848
653  0.962342  0.457310  0.371811 -0.586320 -0.457641  -36.715007
150 -0.197787  0.898241 -0.173608  0.677246 -0.031911    5.134303

[200 rows x 6 columns]

In [ ]:
# Output all datasets to csv
df_train.to_csv("train-data")
df_val.to_csv("val-data")
df_test.to_csv("test-data")