<a href="https://colab.research.google.com/github/QwejoD/Udacity-AWS-Machine-Learing-journey/blob/main/Regression_vs_Classification_models_using_the_Iris_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets

In [3]:
# Load in the iris dataset
iris = datasets.load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
# Create the iris `data` dataset as a dataframe and name the columns with `feature_names`
df = pd.DataFrame(data =iris.data, columns=iris.feature_names)

# Include the target as well
df['target'] = iris.target

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
# Check your dataframe by `.head()`
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

**Linear Regression Model**

In [8]:
from sklearn.linear_model import LinearRegression

In [12]:
x=df.drop("target",axis=1)
y =df["target"]

In [13]:
# Fit a standard regression model, we've done this in other exercises
reg = LinearRegression().fit(x,y)

In [14]:
# Score the model on the same dataset
reg.score(x,y)

0.9303939218549564

In [16]:
# Predicting values shows they are not that useful to a classification model
reg.predict(x)

array([-8.25493616e-02, -4.01284476e-02, -4.86276768e-02,  1.22998627e-02,
       -7.53667248e-02,  5.82910066e-02,  3.83367194e-02, -4.44863248e-02,
        1.98324281e-02, -8.21970989e-02, -1.01272512e-01,  7.59348686e-04,
       -8.98630676e-02, -1.02503649e-01, -2.26652208e-01, -4.10494982e-02,
       -3.31670043e-02, -2.16241562e-02, -3.21980063e-02, -1.07834994e-02,
       -4.35196609e-02,  5.41496547e-02, -1.22062394e-01,  1.76835660e-01,
        6.93528569e-02, -5.59002750e-03,  1.00228589e-01, -7.08754443e-02,
       -8.97319983e-02,  1.99658314e-02,  1.27831946e-02,  3.26017444e-02,
       -1.55848342e-01, -1.55367344e-01, -2.12718935e-02, -1.05063936e-01,
       -1.50176206e-01, -1.25101345e-01, -7.04002332e-03, -5.56769102e-02,
       -3.32980735e-02,  7.07502372e-02, -1.50559206e-02,  2.18071051e-01,
        1.41599717e-01,  3.19873432e-02, -4.88442021e-02, -1.45725887e-02,
       -9.00819270e-02, -6.33428789e-02,  1.20248442e+00,  1.28482413e+00,
        1.32433716e+00,  1.18543801e+00,  1.31252984e+00,  1.25733961e+00,
        1.39866098e+00,  9.05746439e-01,  1.17548090e+00,  1.24103868e+00,
        9.56316654e-01,  1.28019945e+00,  9.50717416e-01,  1.31522353e+00,
        1.05874172e+00,  1.17147061e+00,  1.38236471e+00,  9.75923347e-01,
        1.34728479e+00,  1.02151661e+00,  1.59214618e+00,  1.09825476e+00,
        1.41552837e+00,  1.19738107e+00,  1.12926856e+00,  1.18666915e+00,
        1.26376188e+00,  1.49544119e+00,  1.34161032e+00,  8.53934864e-01,
        1.01385065e+00,  9.30060938e-01,  1.05204475e+00,  1.54773844e+00,
        1.40474588e+00,  1.38249578e+00,  1.30098933e+00,  1.18737134e+00,
        1.16905629e+00,  1.17742211e+00,  1.20394697e+00,  1.28835108e+00,
        1.07891720e+00,  8.98563803e-01,  1.20394464e+00,  1.11980500e+00,
        1.18473815e+00,  1.15164973e+00,  8.71689017e-01,  1.16588160e+00,
        2.24422636e+00,  1.75289522e+00,  1.90016020e+00,  1.74232371e+00,
        2.00536441e+00,  2.00425879e+00,  1.60258896e+00,  1.79046937e+00,
        1.75932217e+00,  2.15435175e+00,  1.71544659e+00,  1.73148072e+00,
        1.84227394e+00,  1.81016241e+00,  2.05351330e+00,  1.95514179e+00,
        1.69307008e+00,  2.04479432e+00,  2.19954392e+00,  1.48398847e+00,
        1.99064688e+00,  1.78646464e+00,  1.96302340e+00,  1.59028808e+00,
        1.88716969e+00,  1.72104260e+00,  1.57460622e+00,  1.60064541e+00,
        1.91791669e+00,  1.56147908e+00,  1.79848293e+00,  1.83196924e+00,
        1.97884189e+00,  1.44923353e+00,  1.53302790e+00,  2.00059610e+00,
        2.08783520e+00,  1.70025272e+00,  1.58897149e+00,  1.80421091e+00,
        2.05509670e+00,  1.85746781e+00,  1.75289522e+00,  2.04756647e+00,
        2.13087051e+00,  1.90672143e+00,  1.68209369e+00,  1.74632699e+00,
        1.99237157e+00,  1.66875559e+00])

**Making the regressor act as a classifier by rounding Data**
this helps in increasing the accuracy

In [17]:
# If we really wanted to, we could do something like round each regression value to an int
# and have it "act" like a classification model
# This is not required, but something to keep in mind for future reference
reg_cls = np.abs(np.rint(reg.predict(df[iris["feature_names"]])))
reg_cls

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 2., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       1., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 1., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.])

In [18]:
# Evaluate accuracy
sum(reg_cls == df["target"]) / df.shape[0]

0.9733333333333334

**Building a classification Model**

In [19]:
from sklearn.linear_model import RidgeClassifier

In [23]:
# Fit a ridge classifier, which matches with the problem space of being a classification problem
clf = RidgeClassifier().fit(x,y)

In [22]:
# Score the model
clf.score(x,y)

0.8533333333333334

In [24]:
# Predict the class values for the dataset, these will look much better!
clf.predict(x)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2,
       2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1,
       2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

**Bonus. using train_test_split to split data**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.DataFrame([[1, 2], [3, 4], [5, 6], [7, 8]])

df_train, df_test = train_test_split(
    df,
    test_size=0.2, # 20% goes to test
    random_state=0 # makes splitting data repeatable
)
print(df_train)
print(df_test)

   0  1
3  7  8
1  3  4
0  1  2
   0  1
2  5  6